.row
  %h2.center.relative Sign in

= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
  .row
    .small-3.columns
      = f.label :email, class: 'right inline'
    .small-9.columns
      = f.email_field :email, autofocus: true
  .row
    .small-3.columns
      = f.label :password, class: 'right inline'
    .small-9.columns
      = f.password_field :password, autocomplete: "off"
  .row
    = f.submit "Sign in", class: 'button center'
  .row
    = render "devise/shared/links"
