%h2 Monas Burgers and Shakes
%h3 Coming soon.

.sign-up-form.center
  = form_for @sub, remote: true do |f|
    = f.text_field :name, placeholder: 'Name'
    = f.text_field :email, placeholder: 'email address'
    #share_recipe Got a recipe request?
    = f.text_area :favorite_recipe, placeholder: 'What\'s your favorite recipe?', id: 'recipe'
    = f.submit 'Create', class: 'button radius success'

.thank-you.center
  %h3 Thank you.
  %h4 We'll be in touch!
